<ul class="list-inline text-center">
  <% ["sven", "friso"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle", width: 150 %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
